<?xml version="1.0"?>
<!--
  ~ Copyright (c) Zengliwei. All rights reserved.
  ~ Each source file in this distribution is licensed under OSL 3.0, see LICENSE for details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <contact>
            <forms>
                <notification_template>contact_forms_notification_template</notification_template>
                <sender_email_identity>general</sender_email_identity>
                <recipient_email_identity>general</recipient_email_identity>
            </forms>
        </contact>
    </default>
</config>
