<?xml version="1.0"?>
<!--
  ~ Copyright (c) Zengliwei. All rights reserved.
  ~ Each source file in this distribution is licensed under OSL 3.0, see LICENSE for details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="forms_form_listing_data_provider" xsi:type="string">
                    CrazyCat\Forms\Model\ResourceModel\Form\Grid\Collection
                </item>
                <item name="forms_post_record_listing_data_provider" xsi:type="string">
                    CrazyCat\Forms\Model\ResourceModel\Form\PostRecord\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

</config>
