<?xml version="1.0"?>
<!--
  ~ Copyright (c) Zengliwei. All rights reserved.
  ~ Each source file in this distribution is licensed under OSL 3.0, see LICENSE for details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CrazyCat_Forms::forms" module="CrazyCat_Forms"
             parent="Magento_Backend::content" resource="CrazyCat_Forms::blog"
             title="Forms" translate="title" sortOrder="10"/>
        <add id="CrazyCat_Forms::forms_form" module="CrazyCat_Forms"
             parent="CrazyCat_Forms::forms" resource="CrazyCat_Forms::forms_form"
             title="Forms" translate="title" sortOrder="10" action="forms/form"/>
        <add id="CrazyCat_Forms::forms_post_record" module="CrazyCat_Forms"
             parent="CrazyCat_Forms::forms" resource="CrazyCat_Forms::forms_post_record"
             title="Post Records" translate="title" sortOrder="20" action="forms/postRecord"/>
    </menu>
</config>
