<?xml version="1.0"?>
<!--
  ~ Copyright (c) Zengliwei. All rights reserved.
  ~ Each source file in this distribution is licensed under OSL 3.0, see LICENSE for details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="contact">
            <group id="forms" translate="label" type="text" sortOrder="100"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Forms</label>
                <field id="notification_template" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Notification Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
